@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("./cabinet-grotesk.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.thin {
  font-family: CabinetGrotesk-Thin;
}

.extralight {
  font-family: CabinetGrotesk-Extralight;
}

.light {
  font-family: CabinetGrotesk-Light;
}

.regular {
  font-family: CabinetGrotesk-Regular;
}

.medium {
  font-family: CabinetGrotesk-Medium;
}

.bold {
  font-family: CabinetGrotesk-Bold;
}

.extrabold {
  font-family: CabinetGrotesk-Extrabold;
}

.black {
  font-family: CabinetGrotesk-Black;
}

* {
  cursor: url(/images/cursor.svg), url(/images/cursor.jpeg),
    url(/images/cursor.png), auto;
}

.button {
  @apply py-3 bg-themeYellow text-themeBlack bold px-4;
}
.card {
  @apply rounded-lg border border-gray-300 flex justify-center hover:scale-90 duration-500 py-10 lg:py-0;
}

.icon {
  @apply w-14 h-14 mx-auto;
}

.center {
  @apply block m-auto space-x-1;
}

.link {
  @apply text-lg bold underline hover:text-themeYellow;
}

.nav {
  @apply hover:text-themeYellow;
}

.work {
  @apply opacity-20 hover:scale-90 hover:opacity-50 duration-700 bg-cover bg-center bg-no-repeat w-full h-full md:w-2/4 md:h-full 2xl:w-2/4 2xl:h-full;
}

.worrk-header {
  width: min(70%, 70rem);
  height: 40rem;
  display: block;
  position: relative;
}

.small {
  width: min(100%, 70rem);
  height: 25rem;
  display: block;
  position: relative;
}

.worrk {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition-duration: 700ms;
}

.worrk:hover {
  transform: scale(0.9);
  opacity: 0.5;
}

.not__main {
  position: absolute;
  text-align: center;
  z-index: 2;
  transition: ease-out;
  transition-duration: 500ms;
}
@media (max-width: 768px) {
  .not__main {
    left: 10rem;
  }
}
.article {
  @apply flex md:space-x-5;
}

.text {
  @apply extrabold scale-75 hover:transform duration-700 text-4xl;
}
